{{=<% %>=}}
\version "2.12.3"
\include "english.ly"

<%# voice_bars %>
<% definition_name %> = {
  <%& value %>
}
<%/ voice_bars %>


\score {
  \new StaffGroup <<
    \new Staff <<
      \tempo 4 = 75
      \clef "treble_8"

      <%# voice_bars %>
      \new Voice {
        <% stem_type %>
        <% call_name %>
      }
      <%/ voice_bars %>
    >>

    \new TabStaff <<
      <%# voice_bars %>
      \new TabVoice {
        \slurUp
        <% call_name %>
      }
      <%/ voice_bars %>
    >>
  >>

  \layout {
    \context { \Staff
      \override TimeSignature #'style = #'numbered
      \override StringNumber #'transparent = ##t
    }
    \context { \TabStaff
      \override TimeSignature #'style = #'numbered
    }
    \context { \Voice
      \remove Slur_engraver
    }
    \context { \TabVoice
      \remove Dots_engraver
      \remove Stem_engraver
      \remove Rest_engraver
    }
  }
}

% showLastLength = R1*4
\score {
  \new Staff \with {midiInstrument = #"acoustic guitar (nylon)"} <<
    \tempo 4 = 75
    \clef "treble_8"

    <%# voice_bars %>
    \new Voice {
      \unfoldRepeats {
        <% call_name %>
      }
    }
    <%/ voice_bars %>
  >>

  \midi {}
}
